.article-image-container {
    width: auto;
    height: auto; /* Set the height you want */
    object-fit: contain; /* Ensures the image fits within the container */
    object-position: center; /* Centers the image horizontally */
    border : 0px solid var(--background-color);
    background-color: var(--primary-light-color);
  

  }