.pagination {
   
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}


.pagination .page-item .page-link {
    background-color: var(--background-color);
    color: var(--text-color) !important;/* Text color */
    border: 0px solid var(--text-color) ; /* Border color  can be changed*/
    border-radius: 15%;
}

.pagination .page-item.active .page-link {
    color: var(--button-text-color) !important;
    background-color: var(--light-blue)!important; /* Custom color for active item */
    border-color: var(--text-color)!important;
}

.pagination .page-item:hover .page-link {

    background-color: var(--light-blue)!important;
    color: var(--button-text-color) !important;


}
